body{
    background: url(https://images.unsplash.com/photo-1518746624987-db396fa6ebd5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=31b8859ea8c9a4d8efbb0fc79368b7c5&auto=format&fit=crop&w=3190&q=80);
    background-size: cover;
    background-position: center;
    
    
}

.main{
    background:white;
    padding-top: 20px;
    margin-right: 200px;
    
}


