body{
    background:url(https://images.unsplash.com/photo-1508355991726-ebd81e4802f7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=479fe53b6738f375934d0edab32e1d5d&auto=format&fit=crop&w=3153&q=80);
    background-size: cover;
/* background-position: center; */
}



div{
  
    margin:0 auto;
   text-align: center;
}

.text-center{
    color:white;
}